/* docs/css/extra.css */
* {
    --md-typeset-a-color: #FFDD57;
    /* Cor vermelha para os links */
}

.md-header__ellipsis {
    display: none;
}

.test {
    display: block;
}

[data-md-color-media="(prefers-color-scheme: dark)"] {
    .logo-img-dark {
        display: none;
    }

    .logo-img-light {
        display: block;
    }
}


[data-md-color-media="(prefers-color-scheme: light)"] {
    .logo-img-light {
        display: none;
    }

    .logo-img-dark {
        display: block;
    }
}